.white { 
	color : white;
	font-size: 25px;
}

.white2 {
	color : white;
}

h1 {
	color: white;
	font-family: Abril Fatface;
	font-size: 70px;
}

h2 {
	color: red;
	font-family: Abril Fatface;
}
 

p{font-family:Inter;
 	font-size : 15px;
 }

.orange {
	color : #FF9438; 
	font-size: 30px;
}

mark{
	font-weight:bold;
}


img#portrait{
width: 70%;
height : auto ;
opacity: 0.5
}
 

.black {
	color: black ;
	font-family: Inter ;
	font-size: 15px
}
	
.conteneur_o {
	background-color : #ecc279; 
	max-width: 30%;
	padding: 50px;
 }

.partie_droite {
	background-color : white; 
	padding: 60px;
	width: 60% ; 
}



body{
	display: flex;
	flex-direction: row;
	}



#header2{
	background-color: #E26E17;
	padding: 40px;
}

#trait_dessus{
	height: 2px;
	width: 900px;
	background-color: orange ;
	color: orange;
} 

.fond_jauge{
	height: 30px;
	width: 150px;
	background-color: white ;
}

.Langues{
	display:flex;
	flex-direction:row;}

.jauge1{
	height: 25px;
	width: 125px;
	background-color: #dd7e37 ;
}

.jauge2{
	height: 25px;
	width: 75px;
	background-color: #dd7e37 ;
}

.jauge3{
	height: 25px;
	width: 50px;
	background-color: #dd7e37 ;
}
.conteners_left {
	text-align: right;
}

.mail {
	float: right;
}


.texte_droite {
	/*.mail {
	float: right;
}*/

}

#transparent {
	height: 30%;
	width: 100px;
	background-color:#ecc279
}



 @media (max-width: 767.98px){}
 @media (max-width: 991.98px){}	
@media (max-width: 1199.98px){}