.white { 
	color : white;
	font-size: 25px;
}

.white2 {
	color : white;
	font-size: 23px;
	font-family:Inter;
	margin-left: 60px;
	display: flex;
	flex-wrap: wrap;


}

h1 {
	color: white;
	font-family: Abril Fatface;
	font-size: 50px;
	margin-left: 60px;
	display: flex;
	flex-wrap: wrap;

}

h2 {
	color: red;
	font-family: Abril Fatface;
}
 

p{font-family:Inter;
 	font-size : 15px;
 }

.orange {
	color : #FF9438; 
	font-size: 30px;
}


.rectangle_orange1 {
	height: 305px;
	width: 10%;
	background-color: #E26E17 ;
	display: flex;
	justify-content: flex-start;
	position: absolute;
	z-index: 1;
	margin-top: 40px;
	
	/*position: absolute;
	top: 68px*/
}



mark{
	font-weight:bold;
}

.black2 {display: flex;
	justify-content: flex-end;
	color: black ;
	font-family: Inter ;
	font-size: 15px;
}

.text{
	padding: 50px;
}

img#portrait{

display: flex;
justify-content: center;
height : auto ;
width: 75%;
opacity: 0.5;
}
 

.black {
	color: black ;
	font-family: Inter ;
	font-size: 15px;
}
.office{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
	
.conteneur_o {
	background-color : #ecc279; 
	max-width: 30%;
	
 }

.partie_droite {
	background-color : white; 
	padding: 60px;
	width: 60% ; 
}

.contener_vide{
	height:80px;

}

.contener_vide2{
	height: 120px;

}

.space{
	width: 30px;
	background-color: white;
}

body{
	display: flex;
	flex-direction: row;
	padding-left: 0px;
	padding-right: 0px;
	}

.header{
	display: flex;
	justify-content: flex-end;
	padding-left: 50px;
	position: relative;
	z-index: 2;
}

.header_v{
	display: flex;
	justify-content: flex-start;
	padding-left: 50px;
	position: relative;
	z-index: 3;
}


#header2{
	background-color: #E26E17;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 40px;
	/*display: flex;
	flex-direction: center;
}*/}

#trait_dessus{
	height: 2px;
	width: 100%;
	background-color: orange;
} 

.fond_jauge{
	/*display: flex;
 	justify-content: right;*/
	height: 20px;
	width: 40%;
	background-color: white ;
  	position: relative;
  	left: 20px;
  	bottom: 20px;
  	z-index: 1;
  	display: flex;
	justify-content: flex-start;
  }
 
#icones{
	display: flex;
	flex-wrap: wrap;
}

.office{
	display: flex;
	flex-wrap: wrap;
	padding-top: 10px;
}

.adobe{
	display: flex;
	flex-wrap: wrap;
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}

.jauge1{
	height: 15px;
	width: 33%;
	background-color: #dd7e37 ;
	display: flex;
	justify-content: flex-start;
	position: relative;
  	left: 23px;
  	bottom: 37px;
	z-index: 2;
}

.jauge2{
	height: 15px;
	width: 75px;
	background-color: #dd7e37 ;
	position: relative;
  	left: 23px;
  	bottom: 37px;
	z-index: 3;
}

.largeur_langues{
	height: 30px;
	display: flex;
	flex-wrap: wrap;
}

.jauge3{
	height: 15px;
	width: 50px;
	background-color: #dd7e37 ;
	position: relative;
  	left:23px;
  	bottom: 37px;
	z-index: 4;
}

.taille_jauge {
	height: 10px;
}

.conteners_left {
	text-align: right;
}



.texte_droite {
	/*.mail {
	float: right;
}*/

}

#transparent {
	height: 30%;
	width: 100px;
	background-color:#ecc279
}



 @media (max-width: 767.98px){}
 @media (max-width: 991.98px){}	
@media (max-width: 1199.98px){}